# Created by .ignore support plugin (hsz.mobi)
.idea
app_1/__pycache__/
app_1/migrations/__pycache__/
app_2/__pycache__/
app_2/migrations/__pycache__/
chat/__pycache__/
chat/migrations/__pycache__/
django_basics/__pycache__/
blog_app/__pycache__/
blog_app/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/